# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\New folder (3)\PAF-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
